<div class="container-fluid">
  <div class="row">
    <h2 class="center index-title"><%= t('.title') %></h2>
  </div>

	<div class="panel-group" id="myaccordion">

	  <!-- Pomoc 1 -->
	  <div class="row">
	    <div class="col-sm-12">
	      <div class="panel panel-pomoc">
	        <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_010" >
	          <div class="panel-heading">
	            <div class="panel-title">
	              <span class="glyphicon glyphicon-star">&nbsp;</span>
	              <span>Rejestrowanie konta ePUAP poprzez Platformę Usług Elektronicznych (PUE)</span>
	              <i class="indicator glyphicon glyphicon-chevron-right pull-right"></i>
	            </div> 
	          </div>
	        </a>
	        <div id="collapse_010" class="panel-collapse collapse">
	          <div class="panel-body">         

	            <%= render 'pomoc_010' %>

	          </div> <!-- /panel-body -->
	        </div> <!-- /id="collapse_010" -->
	      </div> <!-- /panel -->
	    </div> <!-- /col-sm-12-->
	  </div> <!-- /row -->

	  <!-- Pomoc 2 -->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-pomoc">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_020" >
            <div class="panel-heading">
              <div class="panel-title">
                <span class="glyphicon glyphicon-log-in">&nbsp;</span>
                <span>Logowanie się do Platformy Usług Elektronicznych (PUE)</span>
                <i class="indicator glyphicon glyphicon-chevron-right pull-right"></i>
              </div>
            </div>
          </a>
          <div id="collapse_020" class="panel-collapse collapse">
            <div class="panel-body">

              <%= render 'pomoc_020' %>

            </div> <!-- /panel-body -->
          </div> <!-- /id="collapse_02" -->
        </div> <!-- /panel -->
      </div> <!-- /col-sm-11 col-sm-offset-1 -->
    </div> <!-- /row -->

	  <!-- Pomoc 2.1 -->
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <div class="panel panel-pomoc">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_021" >
            <div class="panel-heading">
              <div class="panel-title">
                <span class="glyphicon glyphicon-user">&nbsp;</span>
                <span>Pomoc 2.1</span>
                <i class="indicator glyphicon glyphicon-chevron-right pull-right"></i>
              </div>
            </div>
          </a>
          <div id="collapse_021" class="panel-collapse collapse">
            <div class="panel-body">

              <%= render 'pomoc_021' %>

            </div> <!-- /panel-body -->
          </div> <!-- /id="collapse_021" -->
        </div> <!-- /panel -->
      </div> <!-- /col-sm-11 col-sm-offset-1 -->
    </div> <!-- /row -->

	  <!-- Pomoc 2.2 -->
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <div class="panel panel-pomoc">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_022" >
            <div class="panel-heading">
              <div class="panel-title">
                <span class="glyphicon glyphicon-user">&nbsp;</span>
                <span>Pomoc 2.2</span>
                <i class="indicator glyphicon glyphicon-chevron-right pull-right"></i>
              </div>
            </div>
          </a>
          <div id="collapse_022" class="panel-collapse collapse">
            <div class="panel-body">

              <%= render 'pomoc_022' %>

            </div> <!-- /panel-body -->
          </div> <!-- /id="collapse_022" -->
        </div> <!-- /panel -->
      </div> <!-- /col-sm-11 col-sm-offset-1 -->
    </div> <!-- /row -->

	  <!-- Pomoc 3 -->
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-pomoc">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#myaccordion" href="#collapse_030" >
            <div class="panel-heading">
              <div class="panel-title">
                <span class="glyphicon glyphicon-user">&nbsp;</span>
                <span>Pomoc 3</span>
                <i class="indicator glyphicon glyphicon-chevron-right pull-right"></i>
              </div>
            </div>
          </a>
          <div id="collapse_030" class="panel-collapse collapse">
            <div class="panel-body">

              <%= render 'pomoc_030' %>

            </div> <!-- /panel-body -->
          </div> <!-- /id="collapse_030" -->
        </div> <!-- /panel -->
      </div> <!-- /col-sm-11 col-sm-offset-1 -->
    </div> <!-- /row -->
  </div> 

</div>  <!-- /container -->
