<footer class="footer">
  <div class="row">
    <div class='col-sm-5'>
      <h4><%= t('.brand') %></h4>
      <br>
      <h5><%= t('.brand_note') %></h5>
      <hr class="visible-xs">
    </div>

    <div class='col-sm-2 col-sm-offset-1'>
      <h4><%= t('.contact') %></h4>
        <ul><h5><span class="glyphicon glyphicon-envelope"></span> <%= mail_to "ske.gdynia@uke.gov.pl" %></h5></ul>
      <hr class="visible-xs">
    </div>

    <div class="col-sm-2 col-sm-offset-1">
      <h4><%= t('.links') %></h4>
        <ul><h5><span class="glyphicon glyphicon-globe"></span> <%= link_to('UKE', 'https://uke.gov.pl', target: "_blank") %></h5></ul>
        <ul><h5><span class="glyphicon glyphicon-globe"></span> <%= link_to('Facebook', 'https://web.facebook.com/UrzadKomunikacjiElektronicznej', target: "_blank") %></h5></ul>
        <ul><h5><span class="glyphicon glyphicon-globe"></span> <%= link_to('Twitter', 'https://twitter.com/uke2uke', target: "_blank") %></h5></ul>
      <hr class="visible-xs">
    </div>
    <div class="col-sm-1">
      <h6>&copy; 2018 UKE</h6>
    </div>
  </div>  <!-- /row -->

</footer>
